<div class="row">
    <div class="col-sm-5 form-group">
        <label for="username">Username</label>
        <input type="text" name="" #userName id="username" class="form-control">
    </div>

    <div class="col-sm-2 form-group">
        <label for="password">Password</label>
        <input type="text" name="" #userPassword id="password" class="form-control">
    </div>

    <div class="col-sm-12 submit-button">
        <button class="btn btn-primary" type="submit" (click)="OnClick(userName, userPassword)"> Submit </button>
    </div>
</div>

<hr>